# Data
data/raw/*
data/formatted/*
data/preprocessed/*

#Virtual Environments
.venv
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

